<div class="dashboard-container" [@fadeInAnimation]>
  <h2>Dashboard</h2>

  <h3>Stories</h3>
  <div class="content-grid">
    <div *ngFor="let item of stories" class="content-card" [routerLink]="['/pdf-viewer']" [queryParams]="{ url: item.url }">
      <img [src]="item.url" alt="{{ item.title }}">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
      <button (click)="listen(item.id)">Listen</button>
    </div>
  </div>

  <h3>Games</h3>
  <div class="content-grid">
    <div *ngFor="let item of games" class="content-card">
      <img [src]="item.url" alt="{{ item.title }}">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
  </div>

  <h3>Videos</h3>
  <div class="content-grid">
    <div *ngFor="let item of videos" class="content-card">
      <img [src]="item.url" alt="{{ item.title }}">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
  </div>

  <h3>Quizzes</h3>
  <div class="content-grid">
    <div *ngFor="let item of quizzes" class="content-card" [routerLink]="['/quiz', item.id]">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
  </div>

  <h3>Puzzles</h3>
  <div class="content-grid">
    <div *ngFor="let item of puzzles" class="content-card" [routerLink]="['/puzzle', item.id]">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
  </div>

  <h3>Cartoons</h3>
  <div class="content-grid">
    <div *ngFor="let item of cartoons" class="content-card">
      <a [href]="item.url" target="_blank">
        <img [src]="'https://img.youtube.com/vi/' + item.url.split('v=')[1] + '/0.jpg'" alt="{{ item.title }}">
        <h4>{{ item.title }}</h4>
        <p>{{ item.description }}</p>
      </a>
    </div>
  </div>
</div>
