# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=stacktots

# JWT
JWT_SECRET=your-jwt-secret

# Stripe
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

# Email
EMAIL_HOST=your-email-host
EMAIL_PORT=your-email-port
EMAIL_USER=your-email-user
EMAIL_PASS=your-email-pass

# Frontend
FRONTEND_URL=http://localhost:4200
